.delete-button {
    margin-right: 15px;
    background: rgb(255, 255, 255);
    border: none;
    
}

.comment-body {
    display: inline;
    padding: 10px 3px 10px 3px;
}

.comments-section {
    padding-top: 30px;
}

.one-comment {
    background: rgb(239, 252, 246);
    padding: 0.5em;
    border: 1px solid rgb(196, 176, 176);
    border-radius: 10px;
    margin-top: 10px;
}

.sub-heading-single-comment {
    font-size: 0.7em;
    display: block;
    margin-bottom: 1em;
}

.posted-by-comment-author {
    display: inline;
}

.posted-on-comment-date {
    display: inline;
}

.comment-vote-button {
    padding: 0.3em;
    margin: 0.4em;
    cursor: pointer;
}