.delete-button {
    margin-right: 15px;
    background: rgb(255, 255, 255);
    border: none;
    
}

.comment-body {
    display: inline;
    padding: 10px 3px 10px 3px;
}

.comments-section {
    padding-top: 30px;
}

.one-comment {
    background: rgb(239, 252, 246);
    padding: 0.5em;
    border: 1px solid rgb(196, 176, 176);
    border-radius: 10px;
    margin-top: 10px;
}

.posted-by-comment-author {
    font-size: 0.8em;
}